##############################
#                            #     
#  Developer's Requirements  #
#                            #     
##############################
#
#  Linting
#
#  Hub
#
#  Server
#
##############################

#  Linting
############
yapf

#  Hub
########

#  Server
###########
apache-airflow[devel]

